---
---

/*@import "{{ site.theme }}";*/

body {
	width: 600px;
	margin:auto;
	border-left: 10px groove black;
	border-right: 10px ridge black;
	padding: 30px;
}

html * {
	font-family: "FreeSerif", serif;
}

h1, h2, h3, h4, h5, code {
	font-family: "FreeSans", sans-serif;
}

h1 {
	border-left: 3px solid grey;
	padding: 5px;
}

a {
	color: black;
	border-bottom: 2px double orange;
	text-decoration: none;
	font-family: monospace;
}

blockquote code {
	background-color: lightgray;
	padding: 5px;
	font-size: medium;
	font-family: "FreeSerif", serif;
}

blockquote > p:first-child{
	margin-top: 0;
}

blockquote > p:last-child{
	margin-bottom: 0;
}

ul {
    list-style: square outside none;
}

li > p {
	font-size: medium;
}

p {
	font-size: large;
}

pre {
	text-align: center;
}
