---
---

/*@import "{{ site.theme }}";*/

body {
	width: 600px;
	margin:auto;
	background-color: FloralWhite;
	border-left: 15px groove mediumslateblue;
	border-right: 15px ridge mediumslateblue;
	padding: 30px;
}

h1 {
	/*text-align: center;*/
	font-family: arial;
	border-left: 3px solid grey;
	padding: 5px;
	color: black;
}

h2 {
	font-family: arial;
	color: black;
}

h3 {
	font-family: arial;
	color: black;
}

a {
	color: black;
}

blockquote {
	background-color: #EBE8FC;
	font-size: small;
	color: black;
	font-style: normal;
}
div {
   	word-wrap: break-word;
   	width: 600px;
	color: black;
}
